{% load static %}
{% block content %}
<title>Student Home</title>

<body class="bg-dark text-light">
    <!-- Include Bootstrap and other necessary styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand font-weight-bold text-light" href="#">Enhancing Learning Procedure</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li><a class="nav-link text-light" href="{% url 'purpose' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'attempt_test' %}">Attempt Test</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'tests_attempted' %}">Tests Attempted</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'preperation' %}">Prepare</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'notes_classes' %}">Notes & Classes</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'post_doubt' %}">Post Doubt</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'doubts_posted' %}">Doubts Posted</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container">
        <!-- Display User Information -->
        <div class="my-4">
            <h4>Welcome, {{ request.user.username }}!</h4>
        </div>
        <h1 class="my-4">Student Dashboard</h1>
    </div>

    <!-- Include Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
{% endblock content %}
